.router-link-exact-active {
    border: 5px solid white;
    border-radius: 50%;
}
/* nav ul{
    all: unset
}
nav ul li{
    all: unset;
    padding: 10%;
}
nav ul li a{
    all: unset;
    cursor: pointer;
    color: white;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: black;
} */

.coating{
    display: block;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;
    border-radius: 30px;
    text-align: center;
    width: 300px;
    padding: 5px;
    background-color: black;
    opacity: 0.5;
}
.navbar-logo{
    display: inline-block;

}

.coating a {
    margin: 10px;
    padding: 5px;
}
.coating a:hover{
    border: 5px solid white;
    border-radius: 50%;
}

/* .coating a img:hover{
    border: 5px solid white;
    border-radius: 50%;
} */